In [8]:
import pandas as pd

In [13]:
pd.read_pickle('inter_log_res_save.pickle')

,time_serie,product_labels,error,aic,pdq,pdqm
0,bookings,0,7.646525e+00,-1354.467789,"(0, 0, 0)","(0, 0, 0, 3)"
1,bookings,0,8.237985e+00,-2034.767685,"(0, 0, 1)","(0, 0, 0, 3)"
2,bookings,0,1.032756e+01,-3234.270443,"(0, 1, 0)","(0, 0, 0, 3)"
3,bookings,0,1.027581e+01,-3252.072196,"(0, 1, 1)","(0, 0, 0, 3)"
4,bookings,0,3.206825e+01,-2068.000243,"(0, 2, 0)","(0, 0, 0, 3)"
5,bookings,0,5.699554e+00,-3219.999169,"(0, 2, 1)","(0, 0, 0, 3)"
6,bookings,0,1.405787e+01,-3233.786151,"(1, 0, 0)","(0, 0, 0, 3)"
7,bookings,0,1.289513e+01,-3251.339305,"(1, 0, 1)","(0, 0, 0, 3)"
8,bookings,0,1.030721e+01,-3251.179271,"(1, 1, 0)","(0, 0, 0, 3)"
9,bookings,0,1.039349e+01,-3291.761737,"(1, 1, 1)","(0, 0, 0, 3)"
10,bookings,0,3.234091e+01,-2522.087614,"(1, 2, 0)","(0, 0, 0, 3)"
11,bookings,0,5.738665e+00,-3236.353761,"(1, 2, 1)","(0, 0, 0, 3)"
12,bookings,1,7.016864e+00,-1789.106674,"(0, 0, 0)","(0, 0, 0, 3)"
13,bookings,1,7.574527e+00,-2542.776164,"(0, 0, 1)","(0, 0, 0, 3)"
14,bookings,1,9.530222e+00,-3293.953451,"(0, 1, 0)","(0, 0, 0, 3)"
15,bookings,1,9.422546e+00,-3296.835300,"(0, 1, 1)","(0, 0, 0, 3)"
16,bookings,1,7.109756e+08,-2379.375525,"(0, 2, 0)","(0, 0, 0, 3)"
17,bookings,1,3.851412e+00,-3278.748742,"(0, 2, 1)","(0, 0, 0, 3)"
18,bookings,1,1.420691e+01,-3243.465087,"(1, 0, 0)","(0, 0, 0, 3)"
19,bookings,1,5.616992e+00,-3269.716331,"(1, 0, 1)","(0, 0, 0, 3)"
20,bookings,1,9.429476e+00,-3298.037281,"(1, 1, 0)","(0, 0, 0, 3)"
21,bookings,1,9.501423e+00,-3420.118657,"(1, 1, 1)","(0, 0, 0, 3)"
22,bookings,1,1.560674e+08,-2662.412597,"(1, 2, 0)","(0, 0, 0, 3)"
23,bookings,1,3.857848e+00,-3283.343561,"(1, 2, 1)","(0, 0, 0, 3)"
24,bookings,2,1.050418e+01,-1841.004978,"(0, 0, 0)","(0, 0, 0, 3)"
25,bookings,2,1.112315e+01,-2262.044174,"(0, 0, 1)","(0, 0, 0, 3)"
26,bookings,2,1.330395e+01,-2887.720935,"(0, 1, 0)","(0, 0, 0, 3)"
27,bookings,2,1.243140e+01,-3105.929754,"(0, 1, 1)","(0, 0, 0, 3)"
28,bookings,2,5.032259e+01,-1451.478166,"(0, 2, 0)","(0, 0, 0, 3)"
29,bookings,2,5.637655e+00,-2874.737714,"(0, 2, 1)","(0, 0, 0, 3)"
...,...,...,...,...,...,...
987,sessions,1,2.661559e+02,-1435.934641,"(0, 1, 1)","(1, 0, 1, 7)"
988,sessions,1,5.185039e+02,-1202.709155,"(0, 2, 0)","(1, 0, 1, 7)"
989,sessions,1,1.130647e+03,-1421.646883,"(0, 2, 1)","(1, 0, 1, 7)"
990,sessions,1,7.241184e+02,-1454.778363,"(1, 0, 0)","(1, 0, 1, 7)"
991,sessions,1,7.211681e+02,-1437.455828,"(1, 0, 1)","(1, 0, 1, 7)"
992,sessions,1,2.583717e+02,-1440.299062,"(1, 1, 0)","(1, 0, 1, 7)"
993,sessions,1,2.915749e+02,-1441.554841,"(1, 1, 1)","(1, 0, 1, 7)"
994,sessions,1,1.708764e+03,-1344.651930,"(1, 2, 0)","(1, 0, 1, 7)"
995,sessions,1,1.636526e+03,-1416.167237,"(1, 2, 1)","(1, 0, 1, 7)"
996,sessions,2,1.087592e+03,-731.975273,"(0, 0, 0)","(1, 0, 1, 7)"
997,sessions,2,1.094167e+03,-851.542358,"(0, 0, 1)","(1, 0, 1, 7)"
998,sessions,2,3.367377e+02,-955.446202,"(0, 1, 0)","(1, 0, 1, 7)"
999,sessions,2,4.607426e+02,-985.090660,"(0, 1, 1)","(1, 0, 1, 7)"
1000,sessions,2,1.859015e+10,-630.139997,"(0, 2, 0)","(1, 0, 1, 7)"
1001,sessions,2,5.383127e+02,-937.495990,"(0, 2, 1)","(1, 0, 1, 7)"
1002,sessions,2,1.103981e+03,-975.761728,"(1, 0, 0)","(1, 0, 1, 7)"
1003,sessions,2,1.099261e+03,-976.517520,"(1, 0, 1)","(1, 0, 1, 7)"
1004,sessions,2,4.543702e+02,-983.708871,"(1, 1, 0)","(1, 0, 1, 7)"
1005,sessions,2,4.408915e+02,-983.072723,"(1, 1, 1)","(1, 0, 1, 7)"
1006,sessions,2,1.680711e+09,-781.248606,"(1, 2, 0)","(1, 0, 1, 7)"
1007,sessions,2,9.768668e+02,-941.375491,"(1, 2, 1)","(1, 0, 1, 7)"
1008,bookings,0,9.066072e+00,-1516.786116,"(0, 0, 0)","(1, 1, 0, 7)"
1009,bookings,0,9.285454e+00,-2228.381360,"(0, 0, 1)","(1, 1, 0, 7)"
1010,bookings,0,1.310697e+03,-3085.052541,"(0, 1, 0)","(1, 1, 0, 7)"
1011,bookings,0,1.195231e+03,-3118.076876,"(0, 1, 1)","(1, 1, 0, 7)"
1012,bookings,0,5.923122e+92,-1862.514994,"(0, 2, 0)","(1, 1, 0, 7)"
1013,bookings,0,2.144973e+03,-3072.543378,"(0, 2, 1)","(1, 1, 0, 7)"
1014,bookings,0,8.275208e+00,-3169.851282,"(1, 0, 0)","(1, 1, 0, 7)"
1015,bookings,0,7.840523e+00,-3183.841360,"(1, 0, 1)","(1, 1, 0, 7)"
1016,bookings,0,1.183001e+03,-3124.195776,"(1, 1, 0)","(1, 1, 0, 7)"