In [2]:
1+1

2

In [3]:
import pandas as pd

In [6]:
pd.read_pickle('inter_log_res_save.pickle')

,time_serie,product_labels,error,aic,pdq,pdqm
0,bookings,0,6.251590e+02,6846.304797,"(0, 0, 0)","(0, 0, 0, 3)"
1,bookings,0,6.250631e+02,4895.972677,"(0, 0, 1)","(0, 0, 0, 3)"
2,bookings,0,2.035288e+02,-3128.543538,"(0, 1, 0)","(0, 0, 0, 3)"
3,bookings,0,2.016261e+02,-3152.250759,"(0, 1, 1)","(0, 0, 0, 3)"
4,bookings,0,6.157214e+02,-1940.409699,"(0, 2, 0)","(0, 0, 0, 3)"
5,bookings,0,1.181089e+02,-3114.535701,"(0, 2, 1)","(0, 0, 0, 3)"
6,bookings,0,2.382193e+02,-3129.710349,"(1, 0, 0)","(0, 0, 0, 3)"
7,bookings,0,1.942185e+02,-3153.269443,"(1, 0, 1)","(0, 0, 0, 3)"
8,bookings,0,2.023403e+02,-3150.313388,"(1, 1, 0)","(0, 0, 0, 3)"
9,bookings,0,2.042794e+02,-3194.113317,"(1, 1, 1)","(0, 0, 0, 3)"
10,bookings,0,6.202543e+02,-2410.759183,"(1, 2, 0)","(0, 0, 0, 3)"
11,bookings,0,1.168584e+02,-3135.802068,"(1, 2, 1)","(0, 0, 0, 3)"
12,bookings,1,6.304836e+02,6793.115274,"(0, 0, 0)","(0, 0, 0, 3)"
13,bookings,1,6.303507e+02,4818.079454,"(0, 0, 1)","(0, 0, 0, 3)"
14,bookings,1,1.890828e+02,-3221.434495,"(0, 1, 0)","(0, 0, 0, 3)"
15,bookings,1,1.881012e+02,-3220.958936,"(0, 1, 1)","(0, 0, 0, 3)"
16,bookings,1,4.024405e+09,-2275.829162,"(0, 2, 0)","(0, 0, 0, 3)"
17,bookings,1,8.287866e+01,-3206.299501,"(0, 2, 1)","(0, 0, 0, 3)"
18,bookings,1,2.015012e+02,-3221.630813,"(1, 0, 0)","(0, 0, 0, 3)"
19,bookings,1,2.203899e+02,-3220.964275,"(1, 0, 1)","(0, 0, 0, 3)"
20,bookings,1,1.881512e+02,-3222.513813,"(1, 1, 0)","(0, 0, 0, 3)"
21,bookings,1,1.854001e+02,-3348.085982,"(1, 1, 1)","(0, 0, 0, 3)"
22,bookings,1,7.001909e+08,-2570.880329,"(1, 2, 0)","(0, 0, 0, 3)"
23,bookings,1,8.391408e+01,-3207.913600,"(1, 2, 1)","(0, 0, 0, 3)"
24,bookings,2,9.595264e+02,7030.673493,"(0, 0, 0)","(0, 0, 0, 3)"
25,bookings,2,9.593904e+02,5088.817008,"(0, 0, 1)","(0, 0, 0, 3)"
26,bookings,2,2.444781e+02,-2835.162237,"(0, 1, 0)","(0, 0, 0, 3)"
27,bookings,2,2.371424e+02,-3039.246035,"(0, 1, 1)","(0, 0, 0, 3)"
28,bookings,2,9.607451e+02,-1411.062078,"(0, 2, 0)","(0, 0, 0, 3)"
29,bookings,2,1.346433e+02,-2822.244975,"(0, 2, 1)","(0, 0, 0, 3)"
...,...,...,...,...,...,...
985,sessions,1,6.056845e+03,-905.740869,"(0, 0, 1)","(1, 0, 1, 7)"
986,sessions,1,5.763197e+03,-1379.184579,"(0, 1, 0)","(1, 0, 1, 7)"
987,sessions,1,5.619435e+03,-1363.378231,"(0, 1, 1)","(1, 0, 1, 7)"
988,sessions,1,1.871994e+04,-1134.117080,"(0, 2, 0)","(1, 0, 1, 7)"
989,sessions,1,2.382773e+04,-1360.438677,"(0, 2, 1)","(1, 0, 1, 7)"
990,sessions,1,3.976193e+03,-1386.765649,"(1, 0, 0)","(1, 0, 1, 7)"
991,sessions,1,3.959820e+03,-1380.484065,"(1, 0, 1)","(1, 0, 1, 7)"
992,sessions,1,5.762305e+03,-1377.147340,"(1, 1, 0)","(1, 0, 1, 7)"
993,sessions,1,4.764041e+03,-1375.289756,"(1, 1, 1)","(1, 0, 1, 7)"
994,sessions,1,3.250752e+04,-1260.255218,"(1, 2, 0)","(1, 0, 1, 7)"
995,sessions,1,2.372404e+04,-1347.652767,"(1, 2, 1)","(1, 0, 1, 7)"
996,sessions,2,1.196066e+04,-544.889615,"(0, 0, 0)","(1, 0, 1, 7)"
997,sessions,2,1.217166e+04,-754.508006,"(0, 0, 1)","(1, 0, 1, 7)"
998,sessions,2,9.095380e+03,-953.572333,"(0, 1, 0)","(1, 0, 1, 7)"
999,sessions,2,1.436879e+04,-968.934121,"(0, 1, 1)","(1, 0, 1, 7)"
1000,sessions,2,2.927156e+14,-632.725712,"(0, 2, 0)","(1, 0, 1, 7)"
1001,sessions,2,7.776596e+03,-934.521138,"(0, 2, 1)","(1, 0, 1, 7)"
1002,sessions,2,1.550949e+04,-946.546395,"(1, 0, 0)","(1, 0, 1, 7)"
1003,sessions,2,1.004830e+04,-987.914070,"(1, 0, 1)","(1, 0, 1, 7)"
1004,sessions,2,1.391406e+04,-968.960820,"(1, 1, 0)","(1, 0, 1, 7)"
1005,sessions,2,1.385004e+04,-967.005816,"(1, 1, 1)","(1, 0, 1, 7)"
1006,sessions,2,1.571136e+15,-769.657655,"(1, 2, 0)","(1, 0, 1, 7)"
1007,sessions,2,1.421500e+04,-950.534947,"(1, 2, 1)","(1, 0, 1, 7)"
1008,bookings,0,2.080486e+02,-1277.266584,"(0, 0, 0)","(0, 1, 1, 7)"
1009,bookings,0,2.034370e+02,-2213.995926,"(0, 0, 1)","(0, 1, 1, 7)"
1010,bookings,0,1.004492e+02,-3489.552454,"(0, 1, 0)","(0, 1, 1, 7)"
1011,bookings,0,1.009229e+02,-3553.084645,"(0, 1, 1)","(0, 1, 1, 7)"
1012,bookings,0,3.697656e+08,-2187.017700,"(0, 2, 0)","(0, 1, 1, 7)"
1013,bookings,0,1.035731e+02,-3469.247182,"(0, 2, 1)","(0, 1, 1, 7)"
1014,bookings,0,2.305600e+02,-3509.047731,"(1, 0, 0)","(0, 1, 1, 7)"